pkgbase = emacs
	pkgdesc = GNU Emacs - built with native compilation (AOT), Cairo, tree-sitter, ImageMagick
	pkgver = 30.2.8
	pkgrel = 1
	url = https://www.gnu.org/software/emacs/
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = gcc
	makedepends = git
	makedepends = texinfo
	depends = cairo
	depends = dbus
	depends = gtk3
	depends = harfbuzz
	depends = imagemagick
	depends = jansson
	depends = libgccjit
	depends = libjpeg-turbo
	depends = libpng
	depends = librsvg
	depends = libsystemd
	depends = libtiff
	depends = libwebp
	depends = libxml2
	depends = libxpm
	depends = pango
	depends = sqlite
	depends = tree-sitter
	depends = zlib
	optdepends = hunspell: spell checking
	optdepends = mailutils: sending mail
	provides = emacs
	conflicts = emacs
	options = !strip
	source = https://ftp.gnu.org/gnu/emacs/emacs-30.2.tar.gz
	source = 01_all_treesit-0.26.patch
	source = 02_all_ts-query-pred.patch
	b2sums = 82637f8af0b8569f4c0c50966014f304030b7dc5330435a799b6195ea06c217b1fd131dccd5c918193a438b6b7d62d2466a0efd16a85aeafa5dc7d4c55d45d34
	b2sums = 6a4a556ff6e47234c34e6d9b47fd7b51b47f0b66a4a1e6672b604555d48275de7c06afd105b9c4abf9a34eb1fc2148178e97434b9ae92b0345137dc849d5895c
	b2sums = 6f54ca35f5703a248a3db3b39d9666ee28424cdb7240bd0c7a612f387e1cedf9142b6f5b54d00f11b63b97f28d18d763c47b664c36be00e7b07e17cb741712b1

pkgname = emacs
